:root{
  --primary-color: #04364a;
  --secondary-color: #176b87;
  --off-color: #64ccc5;
  --accent-color: #dafffb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body{
  background-color:var(--primary-color);
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 50px -50px darkslategray;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--accent-color);
  padding: 30px;
}
.form{
  width: 270px;
  margin-right: 30px;
}
.form h2{
  color: #1c1c1e;
  margin-bottom: 20px;
}
.form input{
  border: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  border-bottom: 2px solid #1c1c1e;
  padding: 7px 0;
}
.form button{
  color: white;
  background-color:var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 12px;
  margin: 20px;
}
.container img{
  width: 300px;
}