:root{
  --primary-color: #04364a;
  --secondary-color: #176b87;
  --off-color: #64ccc5;
  --accent-color: #dafffb;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
  background-color: var(--secondary-color);
}
.sidebar{
  width: 200px;
  background-color:var(--off-color);
  height: 600px;
  margin-top: 60px;
}
.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li{
  padding: 10px;
}
.sidebar li:hover{
  cursor: pointer;
  color: #f05462;
  background: #ffff;
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 10vh;
  background-color:  var(--accent-color);
  display: flex;
  align-items: center;
  justify-content:space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) ;
}
header img{
  height: 140px;
  width: 170px;
  margin: 5px;
  padding: 5px;
}
input{
  display: flex;
  align-items: center;
}
.add{
  display: flex;
  margin: 40px;
  padding: 20px;
  background: var(--primary-color);
  padding: 5px 10px;
  text-align: center;
}
a{
  text-decoration: none;
  color: #ffff;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding: 20px;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px; */
}
.container{
  display: flex;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-top: 100px;
  margin-left: 50px;
  background-color:var(--primary-color);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  text-align: center;

}

