:root{
  --dark_blue: #04364A;
  --ligt_blue:  #176b87;
  --lighter_blue: #64ccc5;
  --v-light_blue: #dafffb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms ease; 
}
 body{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 #navbar{
  background-color: yellow;
 }
.motherdiv{
  background-color: var(--dark_blue);
  color: var( --lighter_blue);
  text-align: center;
  padding: 50px 100px;
  border-radius: 10px;
  margin: 100px;
   }
  .motherdiv h1 {
    font-size: 50px; 
     }
  .motherdiv .form-group {
    margin: 0.5em 0; }
    .motherdiv .form-group label {
      display: flex;
      text-align: left;
      font-size: 20px;
      font-weight: 600;
    }
    .motherdiv .form-group button{
      display: block;
      padding: 20px;
      margin-top: 1em;
      margin-bottom: 0.5em;
      width: 100%;
      background-color: var(--lighter_blue);
      border: none;
      border-bottom: 1px solid black;
      color: #eee;  
    }
    .motherdiv .form-group input {
      display: block;
      padding: 20px;
      margin-top: 1em;
      margin-bottom: 0.5em;
      width: 100%;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid black;
      color: var( --lighter_blue); 
    }
      .motherdiv .form-group input:focus, .motherdiv .form-group button:focus {
        background-color: var( --lighter_blue);
        color: #000;
        border: none;
        padding: 20px;
      }
      .motherdiv .form-group input:hover{
        background-color: var( --lighter_blue);
        border-radius: 5px;
      }
    .motherdiv .form-group button {
      border: 2px solid #fff;
      border-radius: 5px;
      font-weight: 800;
      cursor: pointer;
      margin-top: 50px;
      color: black;
    }
      .motherdiv .form-group button:hover, .motherdiv .form-group button:focus {
        padding: 30px; 
      }
      .motherdiv .form-group button.is-loading::after {
        animation: spinner 500ms infinite linear;
        content: "";
        position: absolute;
        margin-left: 2em;
        border: 2px solid #000;
        border-radius: 100%;
        border-right-color: transparent;
        border-left-color: transparent;
        height: 1em;
        width: 4%; }
  .motherdiv .footer p {
    margin-top: 20px;
    font-size: 20px;
  }


  .motherdiv .footer a {
    color: white;
    text-decoration: none;
  }
  .motherdiv .footer a:hover {
    background-color: var( --lighter_blue);
    border-radius: 5px;
    padding: 5px 10px;
  }

@media screen and (max-width: 320px) {
  .motherdiv {
    padding-left: 1em;
    padding-right: 1em;
     }
    .motherdiv h1 {
      font-size: 1.5em !important; 
      }
       }
@media screen and (min-width: 900px) {
  .motherdiv {
    width: 50%; 
   } 
  }




