:root{
	--dark_blue: #04364A;
	--ligt_blue:  #176b87;
	--lighter_blue: #64ccc5;
	--v-light_blue: #dafffb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 700ms ease;
}
body{
	background-image: url(bg.jpeg);
	background-repeat: none;
    background-position: center;
    background-size: cover;
    overflow: 
}
#body{
	display: flex;
	justify-content: center;
	align-items: center;

}
#navbar{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	padding-right: 300px;
	padding-left: 50px;
}
#navbar a{
	padding: 10px;
	text-decoration: none;
	color:  black;
	font-weight: 800;
}
#navbar a:hover{
cursor: pointer;
background-color: var(--lighter_blue);
border-radius: 10px;
}
#navbar a:active{
cursor: pointer;
background-color: var(--light_blue);
border-radius: 10px;
}
#nav-img img{
border: 1px solid inherit;
border-radius: 50px;
background-color: white;
}
#container{
	background-color: var(--dark_blue);
	padding: 100px;
	margin: 30px;
	width: 70%;
	border-radius: 10px;
	color: var(--lighter_blue);
}

#div1{
	width: 700px;
font-size: 10px;
text-align: center;
padding: 30px;
}
#error{
	padding: 5px;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--lighter_blue);
	width: 60%;
	color: var(--lighter_blue);
	cursor: pointer;
}
#error:focus{
	background-color: var(--lighter_blue);
	border: none;
	color: black;
}
#error:hover{
	background-color: var(--lighter_blue);
	border-radius: 5px;
	padding: 7px;
	color: black;

}
#current{
	padding: 5px;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--lighter_blue);
	width: 59%;
	color: var(--lighter_blue);
	
}
#current:focus{
	background-color: var(--lighter_blue);
	border: none;
	color: black;
}
#current:hover{
	background-color: var(--lighter_blue);
	border-radius: 5px;
	padding: 7px;
	color: black;

}
#address{
	padding: 5px;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--lighter_blue);
	width: 66%;
	color: var(--lighter_blue);
}
#address:focus{
	background-color: var(--lighter_blue);
	border: none;
	color: black;
}
#address:hover{
	background-color: var(--lighter_blue);
	border-radius: 5px;
	padding: 7px;
	color: black;

}

#report{
	 display: flex;
      padding: 15px;
      margin-bottom: 10px;
      margin-top: 5px;
      width: 50%;
      background-color: var(--lighter_blue);
      border-radius: 5px;
      border: 1px solid black;
      color: black;
     
}
#report:hover{
	background-color: var(--lighter_blue);
	border-radius: 4px;
	padding: 20px;
	color: black;
}
#report:focus{
        border: none;
        padding: 25px;
        color: black;

}
#price{
	width: 3%;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid;
	text-align: center;
}
#price1{
width: 10%;
padding: 3px;
margin-left: 3px;
border-radius: 5px;
border: 1px solid;
}

#submit{
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	background-color: var(--lighter_blue);
    cursor: pointer;
}
#submit:hover{
	padding: 7px 12px;
}
#pi{
	margin-left: 40px;
}
#comment{
	display: flex;
	flex-direction: row;
}
